################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Plus1/Plus1
/Plus1/DatabaseUpdater
Plus1/Plus1/Models/CartItem.cs
Plus1/Database V3/Database V3_TemporaryKey.pfx
*.pfx
