@model IEnumerable<Plus1.Models.NewsArticle>

@{
    ViewBag.Title = "Index";
}
<!-- top-brands -->
<div class="top-brands">
    <div class="container" style="margin-bottom: 50px" >
        <div class="grid_3 grid_5">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div class="nieuwsartikel" ><p>Nieuwsartikelen</p></div>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
                        <div class="agile-tp">
                            <h5>Nieuwsartikelen</h5>
                            <p class="w3l-ad">Hier kunt u alle nieuwsartikelen lezen van Plus1.</p>


                            @if (true)
                    {


                        int nmb = 0;

                        foreach (var item in Model)
                        {
                            <div class="col-md-4 top_brand_left" style="margin-bottom:30px">
                                <div class="hover14 column">
                                    <div class="agile_top_brand_left_grid">

                                        <div class="agile_top_brand_left_grid1">
                                            <figure>
                                                <div class="snipcart-item block">
                                                    <a href="/NewsArticles1/Details/@Html.DisplayFor(modelItem => item.NewsArticleID)\">
                                                        <div class="snipcart-thumb">


                                                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                                            <p>Merk: @Html.DisplayFor(modelItem => item.Content)</p>


                                                        </div>
                                                    </a>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>

                }

            }
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</</div>

<!-- //top-brands -->