@model IEnumerable<Plus1.Models.Product>

@{
    ViewBag.Title = "Index";
}
<div id="page-wrapper">
    <h1>Aanbiedingsproducten</h1>
    <h4>Deze producten worden op de homepagina weergegeven</h4>
    <form action="/Admin/PromotionProducts/Edit" id="products">
        <select name="edit" form="products">

            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.EAN)">@Html.DisplayFor(modelItem => item.Title)</option>
            }
            <input type="submit">
    </form>
    </select>
</div>

@*  TODO - MOOI MAKEN*@