@{
    ViewBag.Title = "About";
}
<h2>PLUS1</h2>
<br />
<h4>PLUS1 als organisatie</h4>
<p>PLUS1 is met 260 supermarkten een belangrijke speler op de Nederlandse levensmiddelenmarkt. De PLUS1 Retail-organisatie bestaat uit het servicekantoor in Utrecht, drie regionale distributiecentra in Haaksbergen, Ittervoort en Hendrik-Ido-Ambacht, en een landelijk distributiecentrum in Middenbeemster.</p> 
<br />
<h4>De formule PLUS1</h4>
<p>PLUS1 is het coöperatieve huis voor onze 227 zelfstandige supermarktondernemers en hun 260 supermarkten. PLUS1 loopt voorop in de ontwikkelingen rondom goed eten en kan hier relevant op inspelen. Hierin onderscheidt PLUS1 zich van andere supermarkten omdat zij groot genoeg is om het verschil te maken, en klein genoeg om flexibel te zijn. Onze lokale supermarktondernemers spelen hierbij een belangrijke rol –met hun persoonlijke service en betrokkenheid zijn zij verbonden met de buurt.</p>  
<br />
<h4>Onze missie</h4>
<p>PLUS1 is een coöperatie van trotse supermarktondernemers. Ons gezamenlijk doel is een duurzame bedrijfsvoering waarbij de klant centraal staat en de focus ligt op goed eten, voor iedereen elke dag.</p>
<br />
<h4>Onze ambitie</h4>
<p>De beste supermarkt van Nederland worden – dat is onze ambitie.</p>
<br />