@model Plus1.Models.CartViewModel

@{
    ViewBag.Title = "Mijn Winkelwagen";
}
<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h2>Uw Winkelwagen is leeg!</h2>

    </div>
</div>
<!-- //checkout -->
