@model Plus1.Models.CartViewModel

@{
    ViewBag.Title = "Bezorgmoment selecteren";
}

<div class="register">
    <div class="container">
        <div class="login-form-grids">
            <h5>Selecteer een bezorgmoment:</h5>
            <form action="/Order/ThankYou" method="post">
                <input type="radio" name="DeliveryMoment" value="1" /> 2018-07-17 8:00 - 22:00<br>
                <input type="radio" name="DeliveryMoment" value="2" /> 2018-07-17 8:00 - 22:00<br>
                <input type="radio" name="DeliveryMoment" value="3" /> 2018-07-17 8:00 - 22:00<br>
                <input type="submit" value="Naar Afrekenen">
            </form>
        </div>

    </div>
</div>
