@model Plus1.Models.CartViewModel

@{
    ViewBag.Title = "Mijn Winkelwagen";
}
<div class="register">
    <div class="container">
        <div class="login-form-grids">
            <h5>Uw Gegevens</h5>
            <form action="Order/Delivery" method="post">
                <input type="text" name="Firstname" placeholder="Voornaam">
                <input type="text" name="Surname" placeholder="Achternaam">
                <input type="text" name="Adress" placeholder="Adres">
                <input type="text" name="Zipcode" placeholder="Postcode">
                <input type="text" name="City" placeholder="Plaats">
                <input type="submit" value="Naar bezorgmoment">
            </form>
        </div>
       
    </div>
</div>
