
@{
    ViewBag.Title = "Payment";
}

<div class="register">
    <div class="container">
        <div class="login-form-grids">
            <h5>Selecteer een Betaalmethode</h5>
            <form action="https://www.ideal.nl/" method="post">
                <input type="radio" name="Payment" value="1" /> IDEAL<br>
                <input type="radio" name="Payment" value="2" /> PAYPAL<br>
                <input type="radio" name="Payment" value="3" /> BIJ AFLEVEREN<br>
                <input type="submit" value="Naar Betaling">
            </form>
        </div>
    </div>
</div>


